
<ol class=" relative border-s border-gray-800 dark:border-gray-700">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-blue-600 dark:text-gray-500">Febrero 2024 - actualidad</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Desarrolo FrontEnd en Consultora Arroba</h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-balance">Maquetacion de vista usando tailwind css , creacion de componentes , validaciones a formularios con formik las tecnologias principales que utilize fueron: React, TS,JS,JSX </p>
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
  </svg></a>
    </li>
  
</ol>

